<% books.forEach(book => { %>
  <section id="searched_book">
      <img src=<%= book.image %> />
      <h2><%= book.title %></h2>
      <h4><%= book.author %></h4>
      <p><%= book.description %></p>
      <p><%= book.isbn %></p>
      <p><%= book.bookshelf %></p>
      <button><a href="/books:<%= book.id %>">View Details</a></button>
  </section>
<% }); %>