<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <p><a href="/search">Search</a></p>
    <p>Total number of books: <%= booksAmount %></p>
    <% savedBooks.forEach(book => { %>
      <section id="searched_book">
        <img src=<%= book.image %> />
        <h2><%= book.title %></h2>
        <h4><%= book.author %></h4>
        <button><a href="/books:<%= book.id %>">View Details</a></button>
      </section>
    <% }); %>
  </body>
</html>